ul{
    display: flex;
    justify-content: space-between;
}
/* .Features{
    height: 150px;
    background-color: #d34f;
} */
li{
    list-style: none;
}
a{
    color: #395fdb;
    text-decoration: none;
    font-size: 1.5rem;
}

.btn{
    color: #fff;
    background-color: #395fdb;
    padding: 10px;
    border-radius: 6px;
    border: #395fdb
}

.icon{
    margin-right: 10px;
    font-size: 30px;
}
.side-features{
    color: #395fdb;
    font-weight: bolder;
}

.container{
    display: flex;
    justify-content: space-between;
}

.paragrahp{
    border: #000 solid 10px;
}
/* .test{
    display: flex;
} */

.learn{
    background-color: #edf4fa;
    border: 5px solid  #edf4fa;;
    border-width: 5px;
}

.learn{
    margin:-300px 100px 0px 250px;
    max-width: 300%;
    height: 23rem;
}

.word{
    text-align: center;
}

.pulse{
    border: #fff solid 10px;
    border-radius: 20px;
}

.btnin{
    color: #fff;
    background-color: #395fdb;
    padding: 20px;
    border-radius: 6px;
    border: #395fdb
}

.btnin{
margin-top: -200px;
margin-left: 400px;
}